<%- include('partials/header') -%>

    <div class="welcome" style="position: relative;">
        <p style="color:antiquewhite; text-align: center;"> <br>
            <b>WE ARE A NON PROFIT TEAM <br>
                AND WORK WORLDWIDE</b><br>
        </p>
        <p style="color: gold; text-align: center;"> <br>
            The mission of Sparks Donation is to advance cures, and means of prevention, for
            pediatric catastrophic diseases through research and treatment. Consistent with the vision of our founder
            Bavara Kumar Swami, no child is denied treatment based on race, religion or a family's ability to pay.
            <br>
        </p>
    </div>

    <%- include('partials/footer') -%>