<%- include('partials/header') -%>

<div class="welcome" style="position: relative;">
    <h3 style="color: white; color: aqua;"><br>REACH US ON</h3>
    <a href="https://www.instagram.com/"><img src="/images/instagram_logo.png"
            style="height:100px;width:100px"></img></a>
    <a href="https://www.facebook.com"><img src="/images/facebook_logo.png"
            style="height:100px;width:100px"></img></a>
    <a href="https://www.twitter.com"><img src="/images/twitter_logo.png"
            style="height:100px;width:100px"></img></a>
    <a href="https://www.linkedin.com"><img src="/images/Linkedin_logo.png"
            style="height:100px;width:100px"></img></a>
</div>

<%- include('partials/footer') -%>